#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 52px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 2px;
  background: transparent;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #000000, #faf9f9, #523f44, #d8d7d7, #3b1e03, #d4bfb9, #22201e, #cac2c0);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}