.video-played{
    width: 90%;
    min-width: 98%;
    border-style: ridge;
    min-height: 785.84px;
    min-width: 1392.39px;
}

.ads-container{
    display: inline-block;
    position: absolute;
    max-width: 80%;
    //min-height: 779.72px;
    min-width: 1420.81px;
    margin: auto; 
}

.tom-logo{
    padding-top: 20px;
    width: 45%;
}

.video-container{
    min-width: 1420.81px;
    min-height: 791.84;
}

.tom-logo-container{
    padding-left: 25%;
    //min-height: 200px;
}