<div class="ads-container">

    <div class="tom-logo-container">
        <img class="tom-logo" src="assets/images/logos/tom.png">
    </div>

    <div class="video-container">
        <video id="videoarea" class="video-played" muted src="" poster="assets/images/etc/black_screen.jpg"></video>
    </div>
    
    <ul hidden id="playlist">
        <li movieurl="assets/videos/1.mp4"></li>
        <li movieurl="assets/videos/2.mp4"></li>
        <li movieurl="assets/videos/3.mp4"></li>
        <li movieurl="assets/videos/4.mp4"></li>
        <li movieurl="assets/videos/5.mp4"></li>
        <li movieurl="assets/videos/6.mp4"></li>
        <li movieurl="assets/videos/7.mp4"></li>
        <li movieurl="assets/videos/8.mp4"></li>
    </ul>

</div>