<div [hidden]="screenStep.insert"><app-insert-bread></app-insert-bread></div>
<div [hidden]="screenStep.process"><app-process-bread></app-process-bread></div>
<div [hidden]="screenStep.ready"><app-bread-ready></app-bread-ready></div>
<!--
  <div class="video-container">
  <video id="videoarea" muted src=""></video>
  <div> <app-process-bread></app-process-bread> </div>
</div>

<ul hidden id="playlist">
    <li movieurl="assets/videos/1.mp4"></li>
    <li movieurl="assets/videos/2.mp4"></li>
    <li movieurl="assets/videos/3.mp4"></li>
    <li movieurl="assets/videos/4.mp4"></li>
    <li movieurl="assets/videos/5.mp4"></li>
    <li movieurl="assets/videos/6.mp4"></li>
    <li movieurl="assets/videos/7.mp4"></li>
    <li movieurl="assets/videos/8.mp4"></li>
</ul>

<div>    
  <h2 class="count" hidden>1 minutes 2 seconds</h2>

  <div class="steps-container">
    <ul class="steps">

      <li class="longest-step step-item finished">
        <span class="step-description">
          Cooking
        </span>      
      </li>

      <li class="small-step step-item finished">
        <span class="step-description">
          Moving
        </span>      
      </li>

      <li class="med-step step-item on">
        <span class="step-description">
          Topping
        </span>      
      </li>

      <li class="small-step step-item">
        <span class="step-description">
          Finish
        </span>      
      </li>

    </ul>
  </div>
  
  <div class="progress-bar" hidden>    
    <span class="bar">            
      <span class="progress"></span>
    </span>
  </div>
</div>
-->