.feature-content{
    padding: 0px !important;
    background-color: red;
}

.feature-image{
    width: 100%;
    height: 100%;
}

.feature-card{
    display: inline-grid !important;
    width: 20.5vh;
    height: 20vh;
    margin: 1vh;
    border-style: outset !important;
}

.feature-content-header{
    text-align: center;
    font-size: 1.3em;
}

.feature-content-price{
    background-color: #1cb900;
    color: white;
    text-align: center;
    font-size: 2.5em;
}

.feature-content-subtotal-price{
    background-color: #008617;
    color: white;
    text-align: center;
    font-size: 2em;
}

.subtotal-header{
    background-color: #008617 !important;
}

.card-selected {
    box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.753), 0 10px 20px 10px rgba(255, 255, 255, 0.705);
}